<div class="p-grid p-jc-center p-p-5">
    <div class="p-col-12">
        <p-card header="Lista de Empleados" subheader="Cree y modifique empleados" [style]="{width: 'auto'}" styleClass="p-card-shadow">

            <div class="p-p-2">
                <p-table #dt1 [value]="empleados" selectionMode="single" dataKey="idProyecto" styleClass="p-datatable-customers" [rows]="10" [paginator]="true" stateStorage="session" stateKey="statedemo-session">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="dniEmpleado">Dni
                                <p-sortIcon field="dniEmpleado"></p-sortIcon>
                            </th>
                            <th pSortableColumn="nombreEmpleado">Nombre
                                <p-sortIcon field="nombreEmpleado"></p-sortIcon>
                            </th>
                            <th pSortableColumn="apellidoEmpleado">Apellido
                                <p-sortIcon field="apellidoEmpleado"></p-sortIcon>
                            </th>
                            <th>Acciones</th>
                        </tr>
                        <tr>
                            <th>
                                <input pInputText type="text" (input)="dt1.filter($event.target.value, 'dniEmpleado', 'contains')" [value]="dt1.filters['dniEmpleado']?.value" placeholder="Buscar por dni" class="p-column-filter">
                            </th>
                            <th>
                                <input pInputText type="text" (input)="dt1.filter($event.target.value, 'nombreEmpleado', 'contains')" [value]="dt1.filters['nombreEmpleado']?.value" placeholder="Buscar por nombre" class="p-column-filter">
                            </th>
                            <th>
                                <input pInputText type="text" (input)="dt1.filter($event.target.value, 'apellidoEmpleado', 'contains')" [value]="dt1.filters['apellidoEmpleado']?.value" placeholder="Buscar por apellido" class="p-column-filter">
                            </th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-empleado>
                        <tr [pSelectableRow]="empleado">
                            <td>
                                {{empleado.dniEmpleado}}
                            </td>
                            <td>
                                {{empleado.nombreEmpleado}}
                            </td>
                            <td>
                                {{empleado.apellidoEmpleado}}
                            </td>
                            <td>
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editarEmpleado(empleado)" pTooltip="Editar empleado" tooltipPosition="top"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="borrarEmpleado(empleado)" pTooltip="Borrar empleado" tooltipPosition="top"></button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="4">No hay empleados para mostrar.</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <ng-template pTemplate="footer">
                <div class="centrar-boton">
                    <button pButton pRipple type="button" icon="pi pi-arrow-circle-left" label="Volver" (click)="volver()" class="p-button-outlined p-button-secondary p-mr-2"></button>
                    <button pButton pRipple type="button" icon="pi pi-plus-circle" label="Crear nuevo empleado" (click)="crearEmpleado()" class="p-button-raised p-button-success"></button>
                </div>
            </ng-template>
        </p-card>
    </div>
</div>