<div class="p-grid p-jc-center p-p-5">
    <div class="p-col-12">
        <p-card header="Generar nueva liquidación" [style]="{width: 'auto'}" styleClass="p-card-shadow">

            <div class="p-grid">
                <div class="p-col-6">
                    <p-dropdown [options]="empleados" required="true" optionLabel="apellidoEmpleado" (onChange)="onSelectEmpleado($event.value)" [filter]="true" filterBy="apellidoEmpleado" [showClear]="true" placeholder="Selecciona un empleado *" [style]="{'width':'100%'}">
                        <ng-template *ngIf="empleadoLiquidar" pTemplate="selectedItem">
                            <div>{{empleadoLiquidar.nombreEmpleado}} {{empleadoLiquidar.apellidoEmpleado}}</div>
                        </ng-template>
                        <ng-template let-empleado pTemplate="item">
                            <div>{{empleado.nombreEmpleado}} {{empleado.apellidoEmpleado}}</div>
                        </ng-template>
                    </p-dropdown>
                </div>

                <div class="p-field p-col-6">
                    <label class="p-mr-2" for="fecha">Fecha liquidación *</label>
                    <p-calendar (onSelect)="onSelectFecha($event)" [yearNavigator]="true" dateFormat="mm/yy" view="month" yearRange="2021:2021" inputId="fecha"></p-calendar>
                </div>
            </div>

            <ng-template pTemplate="footer">
                <div class="centrar-boton">
                    <button pButton pRipple type="button" icon="pi pi-arrow-circle-left" label="Volver" (click)="volver()" class="p-button-outlined p-button-secondary p-mr-2"></button>
                    <button pButton pRipple type="button" icon="pi pi-plus-circle" label="Generar liquidación" (click)="generarLiquidacion()" class="p-button-raised p-button-success"></button>
                </div>
            </ng-template>
        </p-card>
    </div>

    <div class="p-col-12">
        <p-card [header]="tituloTablaLiquidaciones" [style]="{width: 'auto'}" styleClass="p-card-shadow">

            <div class="p-grid">
                <div class="p-col-4">
                    <p-dropdown [options]="empleados" required="true" [ngModel]="empleadoSeleccionado" optionLabel="apellidoEmpleado" (onChange)="cargarLiquidacionesEmpleado($event.value)" [filter]="true" filterBy="apellidoEmpleado" placeholder="Selecciona un empleado *"
                        [style]="{'width':'100%'}">
                        <ng-template *ngIf="empleadoSeleccionado" pTemplate="selectedItem">
                            <div>{{empleadoSeleccionado.nombreEmpleado}} {{empleadoSeleccionado.apellidoEmpleado}}</div>
                        </ng-template>
                        <ng-template let-empleado pTemplate="item">
                            <div>{{empleado.nombreEmpleado}} {{empleado.apellidoEmpleado}}</div>
                        </ng-template>
                    </p-dropdown>
                </div>
            </div>

            <p-table [value]="liquidacionesEmpleado" dataKey="codliquidacion">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Código liquidación</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                        <th>Importe</th>
                        <th>Nombre apellido empleado</th>
                        <th>Escala horas</th>
                        <th>Escala perfil</th>
                        <th>Escala antiguedad</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-liquidacion>
                    <tr>
                        <td>{{liquidacion.codLiquidacion}}</td>

                        <td>{{liquidacion.fechaLiquidacion | date}}</td>

                        <td>{{liquidacion.estado}}</td>

                        <td>{{liquidacion.importeLiquidacion}}</td>

                        <td>{{empleadoSeleccionado.apellidoEmpleado}} {{empleadoSeleccionado.nombreEmpleado}}</td>

                        <td>{{liquidacion.idescalaHoras}}</td>

                        <td>{{liquidacion.idescalaPerfil}}</td>

                        <td>{{liquidacion.idescalaAntiguedad}}</td>
                    </tr>
                </ng-template>
            </p-table>

        </p-card>
    </div>
</div>