<p-card header="Asignar empleados">
    <div class="p-grid">
        <div class="p-col">

            <div *ngIf="empleados.length < 1">
                <p>No hay empleados asignados a este proyecto</p>
            </div>

            <p-listbox [options]="empleados" [metaKeySelection]="false" [ngModel]="empleadosSeleccionados" (onChange)="asignarEmpleados($event.value)" optionLabel="apellidoEmpleado" [checkbox]="true" [filter]="true" [multiple]="true" filterPlaceHolder="Filtrar por apellido"
                [style]="{'width':'100%'}">
                <ng-template let-empleado pTemplate="item">
                    <div>
                        <span>{{empleado.apellidoEmpleado}} {{empleado.nombreEmpleado}}</span>
                    </div>
                </ng-template>
            </p-listbox>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <div class="centrar-boton">
            <button pButton pRipple type="button" icon="pi pi-arrow-circle-left" label="Volver" (click)="volver()" class="p-button-outlined p-button-secondary p-mr-2"></button>
            <button pButton pRipple type="button" icon="pi pi-save" label="Guardar empleados" [disabled]="empleadosSeleccionados.length == 0" (click)="guardarEmpleados()" class="p-button-raised p-button-secondary"></button>
        </div>
    </ng-template>
</p-card>