.icono-user {
    background-color: #f88379;
    border-radius: 500px;
    height: 150px;
    width: 150px;
}

.contenedor-img {
    text-align: center;
    margin: 8px;
}

.centrar-boton {
    text-align: center;
}

p-card {
    margin-top: 10em;
}

span,
input {
    width: 100% !important;
}