<div class="p-grid p-jc-center p-p-5">
    <div class="p-col-4">
        <p-card header="¡Bienvenid@!">
            <ng-template pTemplate="header">
                <img alt="Card" src="../../../assets/icon/home.svg" height="250" width="250">
            </ng-template>

            <div>
                <h3>Nuestro sistema te permite:</h3>
                <ul>
                    <li>Gestionar proyectos y sus tareas</li>
                    <li>Gestionar clientes y asignarlos a proyectos</li>
                    <li>Gestionar empleados y sus perfiles</li>
                    <li>Gestionar liquidacion de empleados</li>
                </ul>
            </div>
        </p-card>
    </div>
</div>