<div class="p-grid p-jc-center p-p-5">
    <div class="p-col-12">
        <p-card [header]="tituloCard" [style]="{width: 'auto'}" styleClass="p-card-shadow">

            <div class="p-p-2">
                <form [formGroup]="formulario">
                    <div class="p-grid">
                        <div class="p-col-4">
                            <span class="p-float-label">
                                <input id="float-nombre" type="text" pInputText formControlName="nombreCliente">
                                <label for="float-nombre">Nombre *</label>
                            </span>
                        </div>

                        <div class="p-col-4">
                            <span class="p-float-label">
                                <input id="float-apellido" type="text" pInputText formControlName="apellidoCliente">
                                <label for="float-apellido">Apellido *</label>
                            </span>
                        </div>

                        <div class="p-col-4">
                            <span class="p-float-label">
                                <input id="float-direccion" type="text" pInputText formControlName="direccionCliente">
                                <label for="float-direccion">Direccion *</label>
                            </span>
                        </div>
                    </div>

                    <div class="p-grid">
                        <div class="p-col-6">
                            <span class="p-float-label">
                                <p-inputNumber formControlName="telefonoCliente" id="float-telefono" mode="decimal"
                                    [useGrouping]="false" [style]="{'width':'100%'}"></p-inputNumber>
                                <label for="float-telefono">Telefono *</label>
                            </span>
                        </div>

                        <div class="p-col-6">
                            <span class="p-float-label">
                                <input id="float-email" type="text" pInputText formControlName="emailCliente">
                                <label for="float-email">Email *</label>
                            </span>
                        </div>
                    </div>
                </form>

                <div class="p-grid">
                    <div class="p-col-6">
                        <p-dropdown [options]="provincias" optionLabel="descripcion" [ngModel]="provinciaSeleccionada" required="true" (onChange)="onSelectProvincia($event.value)" [filter]="true" filterBy="descripcion" [showClear]="true" placeholder="Selecciona una provincia"
                            [style]="{'width':'100%'}">
                            <ng-template *ngIf="provinciaSeleccionada" pTemplate="selectedItem">
                                <div>{{provinciaSeleccionada.descripcion}}</div>
                            </ng-template>
                            <ng-template let-provincia pTemplate="item">
                                <div>
                                    <div>{{provincia.descripcion}}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>

                    <div class="p-col-6">
                        <p-dropdown [options]="localidades" optionLabel="descripcion" [ngModel]="localidadSeleccionada" (onChange)="onSelectLocalidad($event.value)" required="true" [filter]="true" filterBy="descripcion" [showClear]="true" placeholder="Selecciona una localidad"
                            [style]="{'width':'100%'}">
                            <ng-template *ngIf="this.formulario.controls.localidadCliente.value" pTemplate="selectedItem">
                                <div>{{this.formulario.controls.localidadCliente.value}}</div>
                            </ng-template>
                            <ng-template let-localidad pTemplate="item">
                                <div>
                                    <div>{{localidad.descripcion}}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>
            </div>

            <ng-template pTemplate="footer">
                <div class="centrar-boton">
                    <button pButton pRipple type="button" icon="pi pi-arrow-circle-left" label="Volver" (click)="volver()" class="p-button-outlined p-button-secondary p-mr-2"></button>
                    <button pButton pRipple type="button" icon="pi pi-save" label="Guardar cliente" (click)="guardarCliente()" class="p-button-raised p-button-secondary"></button>
                </div>
            </ng-template>
        </p-card>
    </div>
</div>