<div class="p-grid p-jc-center p-p-5">
    <div class="p-col-12">
        <p-card [header]="tituloCard" [style]="{width: 'auto'}" styleClass="p-card-shadow">

            <div class="p-p-2">
                <form [formGroup]="formulario">
                    <div class="p-grid">
                        <div class="p-col-4">
                            <span class="p-float-label">
                                <p-inputNumber formControlName="DniEmpleado" id="float-dni" mode="decimal" [maxlength]="8" [useGrouping]="false" [style]="{'width':'100%'}"></p-inputNumber>
                                <label for="float-dni">Dni *</label>
                            </span>
                        </div>

                        <div class="p-col-4">
                            <span class="p-float-label">
                                <input id="float-nombre" type="text" pInputText formControlName="NombreEmpleado"> 
                                <label for="float-nombre">Nombre *</label>
                            </span>
                        </div>

                        <div class="p-col-4">
                            <span class="p-float-label">
                                <input id="float-apellido" type="text" pInputText formControlName="ApellidoEmpleado"> 
                                <label for="float-apellido">Apellido *</label>
                            </span>
                        </div>
                    </div>

                    <div class="p-grid">

                        <div class="p-col-4">
                            <span class="p-float-label">
                                <p-inputNumber formControlName="Telefono" id="float-telefono" mode="decimal" [useGrouping]="false" [style]="{'width':'100%'}"></p-inputNumber>
                                <label for="float-telefono">Telefono</label>
                            </span>
                        </div>

                        <div class="p-col-4">
                            <span class="p-float-label">
                                <input id="float-direccion" type="text" pInputText formControlName="Direccion"> 
                                <label for="float-direccion">Direccion</label>
                            </span>
                        </div>

                    </div>

                    <div class="p-grid">
                        <div class="p-col-6">
                            <p-dropdown [options]="provincias" optionLabel="Descripcion" required="true" (onChange)="onSelectProvincia($event.value)" [filter]="true" filterBy="Descripcion" [showClear]="true" placeholder="Selecciona una provincia" [style]="{'width':'100%'}">
                                <ng-template *ngIf="provinciaSeleccionada" pTemplate="selectedItem">
                                    <div>{{provinciaSeleccionada.Descripcion}}</div>
                                </ng-template>
                                <ng-template let-provincia pTemplate="item">
                                    <div>
                                        <div>{{provincia.Descripcion}}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>

                        <div class="p-col-6">
                            <p-dropdown [options]="localidades" formControlName="Localidad" optionLabel="Descripcion" required="true" [filter]="true" filterBy="Descripcion" [showClear]="true" placeholder="Selecciona una localidad" [style]="{'width':'100%'}">
                                <ng-template *ngIf="this.formulario.controls.Localidad.value" pTemplate="selectedItem">
                                    <div>{{this.formulario.controls.Localidad.value}}</div>
                                </ng-template>
                                <ng-template let-localidad pTemplate="item">
                                    <div>
                                        <div>{{localidad.Descripcion}}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>
                    </div>

                    <div class="p-grid">
                        <div class="p-col-8">
                            <p-multiSelect [options]="perfiles" (onChange)="onChangePerfil($event.value)" defaultLabel="Seleccione uno o varios perfiles" optionLabel="NombrePerfil" display="chip" [style]="{'width':'100%'}"></p-multiSelect>
                        </div>
                    </div>
                </form>

                <div class="p-grid">
                    <div class="p-col-4">
                        <span class="p-float-label">
                            <input id="float-usuario" (change)="onChangeUsuario()" [(ngModel)]="usuarioEmpleado.NombreUsuario" type="text" pInputText> 
                            <label for="float-usuario">Usuario *</label>
                        </span>
                    </div>

                    <div class="p-col-4">
                        <span class="p-float-label">
                            <input id="float-contrasenia" (change)="onChangeUsuario()" [(ngModel)]="usuarioEmpleado.PasswordUsuario" type="text" pPassword> 
                            <label for="float-contrasenia">Contraseña *</label>
                        </span>
                    </div>
                </div>
            </div>

            <ng-template pTemplate="footer">
                <div class="centrar-boton">
                    <button pButton pRipple type="button" icon="pi pi-arrow-circle-left" label="Volver" (click)="volver()" class="p-button-outlined p-button-secondary p-mr-2"></button>
                    <button pButton pRipple type="button" icon="pi pi-save" label="Guardar usuario" (click)="guardarUsuario()" class="p-button-raised p-button-secondary"></button>
                </div>
            </ng-template>
        </p-card>
    </div>
</div>